<template>
  <div>我的</div>
</template>

<script>
export default {
  name:"Profile",
  data () {
    return {}
  },
  methods: {},
}
</script>

<style type="text/css" scoped>
</style>
<template>
  <h2>我的</h2>
</template>

<script>
  export default {
    name: "Profile"
  }
</script>

<style scoped>

</style>
