<template>
  <div>购物车</div>
</template>

<script>
export default {
  name:"Category",
  data () {
    return {}
  },
  methods: {},
}
</script>

<style type="text/css" scoped>
</style>
<template>
  <h2>分类</h2>
</template>

<script>
  export default {
    name: "Category"
  }
</script>

<style scoped>

</style>
