<template>
  <div>
    <h3>首页</h3>

    <button> + </button>
    <button> - </button>
  </div>
</template>

<script>
export default {
  name:"Home", 
  data () {
 
  },
  methods: {},
}
</script>

<style type="text/css" scoped>


</style>
<template>
  <h2>首页</h2>
</template>

<script>
  export default {
    name: "Home"
  }
</script>

<style scoped>

</style>
